/* Write your CSS here! */
body {
    background-color: powderblue;
    text-align : center;
    margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
  margin-left: 8px;
  display: block

  }
  
  #mainHeading{
    color:red;
    font-size: 60px; 
    text-align: center; 
    padding-bottom: 70px 
  }
  .funParagraph {
    color:green
  }